<% if @publisher.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <% @publisher.errors.full_messages.each do |msg| %>
      <%= msg %><br>
    <% end %>
  </div>
<% end %>

<%= form_for @publisher do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :pub_name,class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
